# These are added to the Lambda function as a layer using the following steps:
# 1. Create a virtual environment named "python" in the root of the project: python3.9 -m venv python
# 2. Activate the virtual environment: source python/bin/activate
# 3. Install the dependencies using Docker: sudo docker run -v "$PWD":/var/task "public.ecr.aws/sam/build-python3.9" /bin/sh -c "pip install -r requirements.txt -t python/lib/python3.9/site-packages/; exit"
# 4. Zip the contents of the virtual environment: zip -r lambda_layer.zip python/lib/python3.9/site-packages/

requests==2.28.2